.NavigationItem {
    margin: 10px 0;
    box-sizing: border-box;
    display: block;
    width: 100%;
    font-weight: bold;
}

.NavigationItem a {
    color: #ffb3b7;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    display: block;
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active {
    color: #40A4C8;
}

@media (min-width: 550px) {
    .NavigationItem {
        margin: 0;
        display: flex;
        height: 100%;
        width: 100px;
        align-items: center;
        text-align: center;
    }

    .NavigationItem a {
        color: white;
        height: 100%;
        padding: 16px 10px;
        border-bottom: 4px solid transparent;
    }


    .NavigationItem a:active,
    .NavigationItem a.active {
        background-color: #f4f3f0;
        border-bottom: 4px solid #e59193;
        color: #393939;

    }

    .NavigationItem a:hover {
        background-color: #d0d0d0;
        border-bottom: 4px solid #e59193;
        color: #393939;

    }
}