.Breakfast {
    width: 100%;
    margin: 0 auto;
    /*padding: 20%;*/
    height: 162px;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
}

.Breakfast p {
    margin: 20px auto;
}



@media (min-width: 500px) and (min-height: 400px) {
    .Breakfast {
        width: 350px;

    }
}

@media (min-width: 500px) and (min-height: 401px) {
    .Breakfast {
        width: 450px;

    }
}

@media (min-width: 1000px) and (min-height: 700px) {
    .Breakfast {
        width: 700px;
    }
}