.Breakfast {
    width: 350px;
    margin: 0 auto;
    padding: 5px;
    height: 162px;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.Breakfast p {
    margin: 20px auto;
}



@media (min-width: 600px) {
    .Breakfast {
        flex-wrap: nowrap;

    }
}

