.InputClass {
    margin: 10px 0;
}

.InputElement {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}

.InputElement:focus {
    outline: none;
    background-color: #ccc;
}

.Invalid {
    border: 1px solid red;
    background-color: #FABEB4;
}