.BuildControl {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 5px 0;

}



.BuildControl button {
    display: block;
    font: inherit;
    padding: 5px;
    margin: 0 5px;
    width: 40px;
    border: 1px solid #aa817d;
    border-radius: 20px;
    cursor: pointer;
    outline: none;
}


.BuildControl button:disabled {
    background-color: rgba(217, 204, 199, 0.68);
    border: 1px solid #7E7365;
    color: #9f9f9f;
    cursor: default;
}

.BuildControl button:hover:disabled {
    background-color: rgba(217, 204, 199, 0.68);
    color: #9f9f9f;
    cursor: not-allowed;
}

.Label {

    padding: 10px;
    font-weight: bold;
    width: 80px;
}



.BuildControl .Less {
    background-color: #d3adaf;
    color: white;
}

.BuildControl .More {
    background-color: #d49396;
    color: white;
}

.BuildControl .Less:hover, .BuildControl .Less:active {
    background-color: #DF8489;
    color: white;
}

.BuildControl .More:hover,.BuildControl .More:active {
    background-color: #cd4d53;
    color: white;
}

@media (min-width: 650px) {
    .Label {
        flex: 0 1 100%;
    }

    .BuildControl button {
        border-radius: 20px;
        width: 34px;
    }
}