.fadeOut {
    transition: opacity 1.5s;
    position: absolute;
    top:0;
    left:0;
    opacity:1;
    width: 100%;

}
.fadeIn {
    opacity:1;
    z-index: 2;
    transition: opacity 1.5s;
    position: absolute;
    top:0;
    left:0;
    width: 100%;

}
